
* {
    font-family: "Geist", sans-serif;
}

#login {
    display: flex;          
    justify-content: center;   
    align-items: center;       
    /* min-height: 100vh;          */
    padding-bottom: 40px;
}

.card {
    padding: 5%;

}

.card-content {
    margin-top: 5%;
}

.extension p {
    color: gray;
    width: 70%
}